<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tv.doroga.android.widget"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Config1x1">
            <intent-filter>
    			<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    		</intent-filter>
        </activity>
        <activity android:name=".Config2x1">
            <intent-filter>
    			<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    		</intent-filter>
        </activity>
        <activity android:name=".Config2x2">
            <intent-filter>
    			<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    		</intent-filter>
        </activity>
        <activity android:name=".Config4x2">
            <intent-filter>
    			<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    		</intent-filter>
        </activity>
		<receiver android:name=".Widget1x1"
		    android:label="@string/app_name1x1">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget1x1" />
		</receiver>
		<receiver android:name=".Widget1x1"
		    android:label="@string/app_name1x1">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    		<data android:scheme="doroga" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget1x1" />
		</receiver>
		<receiver android:name=".Widget2x1"
		    android:label="@string/app_name2x1">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x1" />
		</receiver>
		<receiver android:name=".Widget2x1"
		    android:label="@string/app_name2x1">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    		<data android:scheme="doroga" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x1" />
		</receiver>
		<receiver android:name=".Widget2x2"
		    android:label="@string/app_name2x2">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x2" />
		</receiver>
		<receiver android:name=".Widget2x2"
		    android:label="@string/app_name2x2">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    		<data android:scheme="doroga" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x2" />
		</receiver>
		<receiver android:name=".Widget4x2"
		    android:label="@string/app_name4x2">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget4x2" />
		</receiver>
		<receiver android:name=".Widget4x2"
		    android:label="@string/app_name4x2">
		    	<intent-filter>
		    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    		<data android:scheme="doroga" />
		    	</intent-filter>
		    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget4x2" />
		</receiver>
        <!-- Service to perform web queries and widget update -->
        <service android:name="JamsWidgetUpdateService"/>
</application>

    <uses-sdk android:minSdkVersion="4" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 